*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: open;
    src: url(./fonts/OpenSansCondensed-Light.ttf);
}

body {
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: open;
    background: #464545;
    color: white;
}

h1 {
    font-size: 2.5rem;
}

.game h2 {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

ul {
    font-size: 1.4rem;
    padding-left: 1.5rem;
}

a {
    color: white;
}

button {
    user-select: none;
}

.link {
    text-decoration: none;
}

.Container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 310px;
}

#InputHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#InputHolder input {
    background-color: #464545;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: open;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    width: 90%;
    outline: none;
}

.buttonholder {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonholder button {
    background-color: #464545;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 35px;
    font-size: 1.5rem;
    color: white;
    font-family: open;
    padding: 5px 20px;
    text-align: center;
}

.ErrorMessage {
    height: 1rem;
}

.ErrorMessage p {
    font-size: 1rem;
    text-align: center;
}

.buttonholder button:hover {
    background-color: #353434;
}

.idMarker {
    position: fixed;
    font-size: 1.8rem;
    top: 5px;
    left: 5px;
}

.exitMarker {
    position: fixed;
    background-color: #464545;
    font-size: 1.5rem;
    cursor: pointer;
    top: 5px;
    right: 5px;
    color: white;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.exitMarker:hover {
    background-color: #353434;
}

.ActionButtons button {
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
    color: white;
    font-family: open;
}

@media screen and (min-width: 340px) {
    .ActionButtons button {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 3rem;
    }
    
    p {
        font-size: 2rem;
    }
    
    ul {
        font-size: 1.3rem;
        padding-left: 1.8rem;
    }
}

@media screen and (min-width: 550px) {
    .ActionButtons button {
        width: 150px;
        height: 150px;
    }
}