.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#playerNameInput {
  text-decoration: none;
  width: 180px;
  font-size: 1em;
}

#playerNameenter {
  font-size: 1em;
}
